@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
    background: white;
    height: 5280px;
}
.color {
    width: 200px;
    height: 200px;
    background: hsl(171, 66%, 44%);
}
.mobile-bg {
    width: 100%;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.logo {
    display: flex;
    margin: auto;
    position: relative;
    bottom: 13em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title {
    font-size: 35px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
    margin: 0;
}
.caption {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
}
.btn-1 {
    background: hsl(171, 66%, 44%);
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 200px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5%;
    -webkit-box-shadow: 0px 3px 0px 0px hsl(171, 53%, 31%);
    -moz-box-shadow: 0px 3px 0px 0px hsl(171, 53%, 31%);
    box-shadow: 0px 3px 0px 0px hsl(171, 53%, 31%);
    margin-bottom: 2%;
} 
.btn-2 {
    background: hsl(233, 100%, 69%);
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 200px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5%;
    -webkit-box-shadow: 0px 3px 0px 0px hsl(233, 53%, 31%);
    -moz-box-shadow: 0px 3px 0px 0px hsl(233, 53%, 31%);
    box-shadow: 0px 3px 0px 0px hsl(233, 53%, 31%);
} 
.title-2 {
    font-size: 30px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
    margin-top: 30%;
}
.caption-2 {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
}
.computer-img {
    width: 85%;
    margin-top: 10%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.titles {
    font-size: 30px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
    margin-top: 10%;
    margin-bottom: 0%;
}
.captions {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
}
.title-3 {
    font-size: 30px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
    margin-top: 30%;
}
.caption-3 {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
    margin: 0;
}
.devices-img {
    width: 95%;
    margin-top: 20%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title-4 {
    font-size: 35px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
    margin-top: 15%;
}
.caption-4 {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
    margin: 0;
}
i {
    font-size: 60px;
    color: hsl(201, 11%, 66%);
    margin-top: 30%;
    margin-bottom: 0;
}
.title-5 {
    font-size: 30px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
    margin-top: 5%;
}
.caption-5 {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
    margin: 0;
}
.title-6 {
    font-size: 30px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
    margin-top: 5%;
}
.caption-6 {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
    margin: 0;
}
.title-7 {
    font-size: 30px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
    margin-top: 5%;
}
.caption-7 {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
    margin: 0;
}
.company-images {
    margin-bottom: 20%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#google {
    margin-top: 30%;
}
#vector {
    margin-bottom: 30%;
}
.title-8 {
    font-size: 30px;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 350px;
    font-weight: 600;
}
.caption-8 {
    font-size: 18px;
    color: hsl(201, 11%, 56%);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    max-width: 345px;
    font-weight: 400;
    margin: 0;
}
.btn-3 {
    background: hsl(171, 66%, 44%);
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 200px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10%;
    -webkit-box-shadow: 0px 3px 0px 0px hsl(171, 53%, 31%);
    -moz-box-shadow: 0px 3px 0px 0px hsl(171, 53%, 31%);
    box-shadow: 0px 3px 0px 0px hsl(171, 53%, 31%);
    margin-bottom: 2%;
} 
.btn-4 {
    background: hsl(233, 100%, 69%);
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 200px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5%;
    -webkit-box-shadow: 0px 3px 0px 0px hsl(233, 53%, 31%);
    -moz-box-shadow: 0px 3px 0px 0px hsl(233, 53%, 31%);
    box-shadow: 0px 3px 0px 0px hsl(233, 53%, 31%);
} 
.bottom-bg {
    width: 100%;
    height: 770px;
    background: #f4f6f8;
    margin-top: 30%;
}
.logo-2 {
    display: flex;
    margin: auto;
    position: relative;
    top: 5em;
    width: 20%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a {
    color: hsl(210, 10%, 33%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 10%;
    font-family: 'Bai Jamjuree', sans-serif;
}
#faqs {
    margin-top: 35%;
}
.media-icons {
    display: flex;
    gap: 50px;
    position: relative;
    bottom: 60px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
conteneur-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 160px;
    width: 100%;
    height: 100%;
}